<main class="main">
  <div class="content" [style.background]="config.color">
    <div [ngStyle]="{
                'background' : config.fondo,
                'padding' : '20px',
                'border' : '5px solid black',
                'border-color' : config.color
    }"></div>
    <div class="left-side">
      <h1>Welcome to the {{ title }} !!!</h1>
      <p>This app is rocking! 🎉</p>
      <p>{{descripcion}}</p>

      <!-- Navigation Links -->
      <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/zapatillas">Zapatillas</a>
        <a routerLink="/videojuego">Videojuegos</a>
        <a routerLink="/cursos">Cursos</a>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </div>
</main>