<main class="main">
  <div class="content" [style.background]="config.color">
    <div [ngStyle]="{
                'background' : config.fondo,
                'padding' : '20px',
                'border' : '5px solid black',
                'border-color' : config.color
    }"></div>
    <div class="left-side">
      <h1>Welcome to the {{ title }} !!!</h1>
      <p>This app is rocking! 🎉</p>
      <p>{{descripcion}}</p>

      <!--Creación de componente videojuego-->
      <button (click)="ocultarVideoJuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
      <button (click)="ocultarVideoJuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>
      <videojuego *ngIf="mostrar_videojuegos"></videojuego>
      <!--Fin creación del componente videojuego-->

      <!--Creación del componente zapatilla-->
      <zapatillas></zapatillas>
      <!--Fin creación del componente zapatilla-->

      <!--Creación del componente cursos-->
      <cursos></cursos>
      <!--Fin creación del componente cursos-->
    </div>
  </div>
</main>

<router-outlet />